<div id="login" class="col-md-6 col-md-offset-3">
	<h1>xPalaeo: Testaccounts</h1>
	<div class="acc">
		<h4>Dozentenaccount</h4>
		<ul>
			<li>Benutzername: <em>admin</em></li>
			<li>Passwort: <em>(leer)</em></li>
		</ul>
	</div>
	<div class="acc">
		<h4>Studentenaccounts</h4>
		<ul>
			<li>Benutzername: <em>student1</em></li>
			<li>Passwort: <em>test</em></li>
		</ul>
		<ul>
			<li>Benutzername: <em>student2</em></li>
			<li>Passwort: <em>test</em></li>
		</ul>
		<ul>
			<li>Benutzername: <em>student3</em></li>
			<li>Passwort: <em>test</em></li>
		</ul>
		<ul>
			<li>Benutzername: <em>student4</em></li>
			<li>Passwort: <em>test</em></li>
		</ul>
	</div>
</div>